

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">October movies</a>
    </div>
    <ul class="nav navbar-nav">
    	<li class="{% if this.page.id == 'home-page' %} active {% endif %}">
					<a href="{{'home-page' |page}}">Home</a>
				</li>
				<li class="{% if this.page.id == 'movies' %} active {% endif %}">
					<a href="{{'movies' |page}}">Movies</a>
				</li>
          <li class="{% if this.page.id == 'movies' %} active {% endif %}">
          <a href="{{'login' |page}}">
              {% if not user %}
          Login
          {% else %}

          My profile
          {% endif %}
        </a>
        </li>
           <li class="{% if this.page.id == 'movies' %} active {% endif %}">
          <a href="{{'add-actor' |page}}">Add Actor</a>
        </li>
        {% if user %}
        <li><a data-request="onLogout" data-request-data="redirect: '/'">Sign out</a></li>
        {% endif %}

    </ul>
  </div>
</nav>